/* Estilo para la imagen del banner */
.banner-img {
    max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
    height: auto; /* Mantiene la relación de aspecto */
}

/* Estilo para la tabla */
.table {
    margin-top: 20px; /* Espacio superior para la tabla */
}

.table td, .table th {
    text-align: center; /* Centrar el texto en todas las celdas */
    padding: 10px; /* Agregar relleno a las celdas para mejor presentación */
}

.table th {
    text-align: center; /* Centrar el encabezado */
    background-color: #343a40; /* Color de fondo del encabezado */
    color: white; /* Color del texto del encabezado */
    font-weight: bold; /* Negrita para los encabezados */
}

/* Opcional: Estilo para filas de la tabla al pasar el ratón */
.table tr:hover {
    background-color: #f1f1f1; /* Color de fondo al pasar el ratón sobre las filas */
}

/* Asegurarse de que la tabla no desborde el contenedor */
.table-responsive {
    overflow-x: auto; /* Agregar desplazamiento horizontal si es necesario */
}
