/* Colores para win rates */
.win-rate-alto {
    color: lightgreen !important; /* Color para win rates altos */
    font-weight: bold; /* Negrita para win rates altos */
}

.win-rate-bajo {
    color: tomato !important; /* Color para win rates bajos */
    font-weight: bold; /* Negrita para win rates bajos */
}
