<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soloq Cerditos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/Sepevalle/SoloQ-Cerditos/refs/heads/main/style.css">
    <style>
        /* Estilos para el modo oscuro */
        body {
            transition: background-color 0.3s, color 0.3s; /* Transición suave */
        }

        .dark-mode {
            background-color: #121212;
            color: #ffffff;
        }

        .dark-mode .navbar {
            background-color: #343a40 !important;
            color: white;
        }

        .dark-mode .navbar-brand,
        .dark-mode .nav-link {
            color: white; /* Cambia el color del texto de la navbar a blanco */
        }

        .dark-mode .table {
            background-color: #343a40 !important; /* Fondo de la tabla */
            color: white; /* Color del texto de la tabla */
        }

        .dark-mode .table-dark {
            background-color: #343a40 !important; /* Fondo de la tabla oscura */
            color: white; /* Color del texto de la tabla oscura */
        }

        .dark-mode .table-dark th {
            background-color: #454d55 !important; /* Fondo de las cabeceras de la tabla */
        }

        .dark-mode .btn-secondary {
            background-color: #6c757d !important;
            border-color: #6c757d !important;
        }

        .table td, .table th {
            text-align: center; /* Centrar el texto en todas las celdas */
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fas fa-trophy"></i> SoloQ Challenge Cerditos y Valientes</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex align-items-center">
                        <label for="filtro" class="nav-link mb-0 me-2">Filtrar por Queue Type:</label>
                        <select id="filtro" class="form-select me-2">
                            <option value="RANKED_SOLO_5x5" selected>SoloQ</option>
                            <option value="RANKED_FLEX_SR">Flex</option>
                            <option value="todo">TODO</option>
                        </select>
                    </li>
                </ul>
                <button id="toggle-mode" class="btn btn-secondary ms-auto">Modo Oscuro</button>
            </div>
        </div>
    </nav>

    <div class="container my-4 d-flex justify-content-center">
        <img src="https://raw.githubusercontent.com/Sepevalle/SoloQ-Cerditos/refs/heads/main/Banner.jpg" alt="Banner" class="banner-img" id="banner-img">
    </div>

    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Lista de Cerdos Valientes</h1>
            <div id="lastUpdated" class="text-end"></div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-striped" id="jugadoresTable">
                <thead class="table-dark">
                    <tr>
                        <th>Posición</th>
                        <th>Jugador</th>
                        <th>Game Name</th>
                        <th>Elo</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Total Games</th>
                        <th>Win Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Aquí se agregarán las filas dinámicamente -->
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        const imagenesElo = {
            "IRON": "https://raw.githubusercontent.com/Sepevalle/SoloQ-Cerditos/refs/heads/main/logos_elo/Iron.png",
            "BRONZE": "https://raw.githubusercontent.com/Sepevalle/SoloQ-Cerditos/refs/heads/main/logos_elo/Bronze.png",
            "SILVER": "https://raw.githubusercontent.com/Sepevalle/SoloQ-Cerditos/refs/heads/main/logos_elo/Silver.png",
            "GOLD": "https://raw.githubusercontent.com/Sepevalle/SoloQ-Cerditos/refs/heads/main/logos_elo/Gold.png",
            "PLATINUM": "https://raw.githubusercontent.com/Sepevalle/SoloQ-Cerditos/refs/heads/main/logos_elo/Platinum.png",
            "EMERALD": "https://raw.githubusercontent.com/Sepevalle/SoloQ-Cerditos/refs/heads/main/logos_elo/Emerald.png",
            "MASTER": "https://raw.githubusercontent.com/Sepevalle/SoloQ-Cerditos/refs/heads/main/logos_elo/Master.png",
            "GRANDMASTER": "https://raw.githubusercontent.com/Sepevalle/SoloQ-Cerditos/refs/heads/main/logos_elo/Grandmaster.png",
            "CHALLENGER": "https://raw.githubusercontent.com/Sepevalle/SoloQ-Cerditos/refs/heads/main/logos_elo/Challenger.png"
        };

        // Función para ajustar la hora a UTC+2
        function ajustarHoraUTC2(timestamp) {
            let date = new Date(timestamp * 1000);
            date.setHours(date.getHours() + 2); // Ajustar la hora sumando 2 horas

            let day = ('0' + date.getDate()).slice(-2);
            let month = ('0' + (date.getMonth() + 1)).slice(-2);
            let year = date.getFullYear();
            let hours = ('0' + date.getHours()).slice(-2);
            let minutes = ('0' + date.getMinutes()).slice(-2);
            let seconds = ('0' + date.getSeconds()).slice(-2);

            return `${day}-${month}-${year} ${hours}:${minutes}:${seconds}`;
        }

        document.addEventListener('DOMContentLoaded', function() {
            const lastUpdatedElement = document.getElementById('lastUpdated');
            const timestamp = {{ timestamp|tojson }}; // Timestamp desde el backend
            lastUpdatedElement.textContent = `Última actualización: ${ajustarHoraUTC2(timestamp)}`;

            const datosJugadores = {{ datos_jugadores|tojson }}; // Cargar datos desde tu backend
            const tableBody = document.querySelector('#jugadoresTable tbody');
            tableBody.innerHTML = ''; // Limpiar el cuerpo de la tabla

            datosJugadores.forEach((jugador, index) => {
                const totalGames = jugador.wins + jugador.losses; // Total de juegos
                const winRate = totalGames > 0 ? (jugador.wins / totalGames * 100).toFixed(2) : 0; // Win rate
                const row = `
                    <tr class="queue-type ${jugador.queue_type}"> 
                        <td>${index + 1}</td>
                        <td>${jugador.jugador}</td>
                        <td>${jugador.game_name}</td>
                        <td>
                            <img src="${imagenesElo[jugador.tier]}" alt="${jugador.tier}" style="width: 40px; height: 40px;"> 
                            ${jugador.tier} ${jugador.rank} (${jugador.league_points} LPs)
                        </td>
                        <td>${jugador.wins}</td>
                        <td>${jugador.losses}</td>
                        <td>${totalGames}</td>
                        <td>${winRate}%</td>
                    </tr>`;
                tableBody.innerHTML += row;
            });

            // Activar el filtro por tipo de cola
            document.getElementById('filtro').addEventListener('change', function() {
                const selectedValue = this.value;
                const rows = tableBody.querySelectorAll('tr');
                rows.forEach(row => {
                    if (selectedValue === 'todo' || row.classList.contains(selectedValue)) {
                        row.style.display = '';
                    } else {
                        row.style.display = 'none';
                    }
                });
            });

            // Modo oscuro
            const toggleButton = document.getElementById('toggle-mode');
            toggleButton.addEventListener('click', function() {
                document.body.classList.toggle('dark-mode');
            });
        });
    </script>
</body>
</html>
